.header{
  background-color: var(--gray-700);
  display: flex;
  justify-content: center;

  padding: 4.5rem 0px 5rem;
}

.newTask{
  display:flex;
  justify-content: center;
  margin-top: -1.5rem;
  margin-bottom: 4rem;
  gap: 8px;
}

.newTask input{
  background-color: var(--gray-500);
  color: var(--gray-300);

  width: 638px;
  padding: 1rem;

  border: 1px solid var(--gray-700);
  border-radius: 8px;
}

.newTask input:focus{
  outline: none;
  border: 1px solid var(--purple-dark);
  color: var(--gray-100);
}

.newTask button{
  background-color: var(--blue-dark);

  color: var(--gray-100);
  padding: 1rem;
  
  border: none;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 0.875rem;

  cursor: pointer;
  transition: background 0.2s;
}

.newTask button:hover{
  background-color: var(--blue);
}

